@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To my Azure Class of Web Application</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="c:\users\hp\source\repos\webapp_forazure\webapp_forazure\wwwroot\lib\lady.jpg" style="width:100;height:300" />

</div>
